---
---
<!doctype html>

<html class="no-js" lang="{{ language }}">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% raw %}{{data.prefLabel.[@value]}}{% endraw %} | Rights Statements</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css" />
    {% include cookies.html %}
    <link href='{{ site.baseurl }}/css/rights-stmt.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ site.font_css_url }}" />
    {% if site.google_analytics %}{% include analytics.html %}{% endif %}
</head>

{% raw %}
<body markdown="0">

    <script type="application/ld+json">
        {{json data}}
    </script>

    <div class="row columns statement-container">
        <div class="statement-wrapper">
            <div class="row statement-main">
                <div class="large-4 columns">
                    <div class="statement-iconcolumn">
                        <img src="{% endraw %}{{ site.baseurl }}{% raw %}/files/buttons/{{ data.identifier }}.white.svg" title="{{ data.prefLabel.[@value] }}" />
                    </div>
                </div>
                <div class="large-8 columns">
                    <div class="statement-textcolumn">
                        <h1>{{ data.prefLabel.[@value] }}</h1>
                        <p>{{ data.definition.[@value] }}</p>
                        {{#parameters.date}}
                            <p>{{i18n data.identifier . locale=language}}</p>
                        {{/parameters.date}}

                        {{#parameters.relatedURL}}
                            <p>{{{i18n data.identifier . locale=language}}}</p>
                        {{/parameters.relatedURL}}
                        <h2>{{i18n "notices" locale=language}}</h2>
                        <ul>
                            {{#sort data.note direction="asc"}}
                                <li><span>{{ [@value] }}</span></li>
                            {{/sort}}
                        </ul>
                        <p class="disclaimer">{{{i18n "Disclaimer" locale=language}}}</p>
                        <p>{{{i18n "URI" locale=language}}}<br/>
                            {{a data.[@id]}}</p>
                    </div>
                </div>
            </div>

            <div class="row footer">
                <div class="large-9 columns">
                    {{{ i18n "provider" locale=language }}}
                </div>
                <div class="large-3 columns">
                    <img src="{% endraw %}{{ site.baseurl }}{% raw %}/files/images/logo.svg" />
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/what-input/2.0.1/what-input.min.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>

</body>
{% endraw %}

</html>
